.wrapper {
  padding: 20px;
  display: flex;
}

input {
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  font-size: 20px;
  margin-right: 10px;
  overflow-x: auto;
}

input:focus {
  outline: none;
  border-bottom: 2px solid black;
  margin-bottom: -1px;
}

button {
  width: 30px;
  height: 30px;
}
